@import url(https://fonts.googleapis.com/css?family=Dosis:400|Raleway:400);

.dosis {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}