header {
    background: rgba(0, 0, 0, .75);
    border-bottom: solid 2px rgba(102, 0, 0, .75);
    height: $header-height;
    left: 0;
    overflow: hidden;
    padding: 0 $hspace;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    h1 {
        color: #EEE;
        float: left;
        font-size: 16px;
        line-height: $header-height;
        opacity: .8;
        span {
            color: #C00;
        }
    }
    h2 {
        float: right;
        color: #DDD;
        font-size: 15px;
        line-height: $header-height;
        opacity: .7;
        a,
        a:visited {
            color: inherit;
            text-decoration: none;
            svg {
                fill: #fff;
                float: right;
                height: 14px;
                margin: 15px 0 0 $hspace/2;
                width: 10px;
            }
        }
    }
}
